{% extends 'layout.html' %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Main</h1>
  <p class="mb-4">
    * 현재 실내, 실외 미세먼지 수치 및 하루 미세먼지 통계를 시각화하여 서비스합니다
    <br>
    * 측정소의 위치와 날씨 서비스를 제공합니다.
  </p>

  <div class="row">

    <div class="col-xl-8 col-lg-7">

{% if data == 1 %}
      <!-- 현재 미세먼지 -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">현재 미세먼지</h6>
        </div>
        <div class="card-body" style="text-align:center;">
          <div class="chart-area" style="height:auto">
            <div class = "imagebox">
              <div class = "dataimage"><!--실내 최근 미세먼지 데이터 값-->
                {% if recentData[4] <= grade10[0] %}
                  <a href="/details"><img src="https://raw.githubusercontent.com/kookmin-sw/2019-cap1-18/master/img/design%20source/Web/%EC%8B%A4%EB%82%B4%2C%EC%8B%A4%EC%99%B8%20icon/%EC%8B%A4%EB%82%B4%20%EC%A2%8B%EC%9D%8C.png" style="left:3%;" width="300" height="400"></a>
                {% elif recentData[4] <= grade10[1] %}
                  <a href="/details"><img src="https://raw.githubusercontent.com/kookmin-sw/2019-cap1-18/master/img/design%20source/Web/%EC%8B%A4%EB%82%B4%2C%EC%8B%A4%EC%99%B8%20icon/%EC%8B%A4%EB%82%B4%20%EB%B3%B4%ED%86%B5.png" style="left:3%;" width="300" height="400"></a>
                {% elif recentData[4] <= grade10[2] %}
                  <a href="/details"><img src="https://raw.githubusercontent.com/kookmin-sw/2019-cap1-18/master/img/design%20source/Web/%EC%8B%A4%EB%82%B4%2C%EC%8B%A4%EC%99%B8%20icon/%EC%8B%A4%EB%82%B4%20%EB%82%98%EC%81%A8.png"style="left:3%;" width="300" height="400"></a>
                {% else %}
                  <a href="/details"><img src="https://raw.githubusercontent.com/kookmin-sw/2019-cap1-18/master/img/design%20source/Web/%EC%8B%A4%EB%82%B4%2C%EC%8B%A4%EC%99%B8%20icon/%EC%8B%A4%EB%82%B4%20%EC%9C%84%ED%97%98.png" style="left:3%;" width="300" height="400"></a>
                {% endif %}
                <div class="imagetext">
                  <p style="width: 300px; color:black" ><font size="4" style="font-family: 'Do Hyeon', sans-serif;">미세먼지 수치 : </font><font size="5" style="font-family: 'Do Hyeon', sans-serif;">{{recentData[4]}}</font><font size="4" style="font-family: 'Do Hyeon', sans-serif;">㎛</font></p>
                  <p style="width: 300px; color:black"><font size="4" style="font-family: 'Do Hyeon', sans-serif;">초미세먼지 수치 :</font><font size="5" style="font-family: 'Do Hyeon', sans-serif;">{{recentData[6]}}</font><font size="4" style="font-family: 'Do Hyeon', sans-serif;">㎛</font></p>
                </div>
              </div>

              <div class = "dataimage">
                {% if recentData[11] <= grade10[0] %}
                  <a href="/details"><img src="https://raw.githubusercontent.com/kookmin-sw/2019-cap1-18/master/img/design%20source/Web/%EC%8B%A4%EB%82%B4%2C%EC%8B%A4%EC%99%B8%20icon/%EC%8B%A4%EC%99%B8%20%EC%A2%8B%EC%9D%8C.png" width="300" height="400"></a>
                {% elif recentData[11] <= grade10[1] %}
                  <a href="/details"><img src="https://raw.githubusercontent.com/kookmin-sw/2019-cap1-18/master/img/design%20source/Web/%EC%8B%A4%EB%82%B4%2C%EC%8B%A4%EC%99%B8%20icon/%EC%8B%A4%EC%99%B8%20%EB%B3%B4%ED%86%B5.png" width="300" height="400"></a>
                {% elif recentData[11] <= grade10[2] %}
                  <a href="/details"><img src="https://raw.githubusercontent.com/kookmin-sw/2019-cap1-18/master/img/design%20source/Web/%EC%8B%A4%EB%82%B4%2C%EC%8B%A4%EC%99%B8%20icon/%EC%8B%A4%EC%99%B8%20%EB%82%98%EC%81%A8.png" width="300" height="400"></a>
                {% else %}
                  <a href="/details"><img src="https://raw.githubusercontent.com/kookmin-sw/2019-cap1-18/master/img/design%20source/Web/%EC%8B%A4%EB%82%B4%2C%EC%8B%A4%EC%99%B8%20icon/%EC%8B%A4%EC%99%B8%20%EC%9C%84%ED%97%98.png" width="300" height="400"></a>
                {% endif %}
                <div class="imagetext">
                  <p style="width: 300px; color:black"><font size="4" style="font-family: 'Do Hyeon', sans-serif;">미세먼지 수치 : </font><font size="5" style="font-family: 'Do Hyeon', sans-serif;">{{recentData[11]}}</font><font size="4" style="font-family: 'Do Hyeon', sans-serif;">㎛</font></p>
                  <p style="width: 300px; color:black"><font size="4" style="font-family: 'Do Hyeon', sans-serif;">초미세먼지 수치 :</font><font size="5" style="font-family: 'Do Hyeon', sans-serif;">{{recentData[13]}}</font><font size="4" style="font-family: 'Do Hyeon', sans-serif;">㎛</font></p>
                </div>
              </div>
            </div> <!--imagebox-->
          </div>
        </div>
      </div>

      <!-- 지도 -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">지도</h6>
        </div>
        <div class="card-body">
          <div class="chart-area" style="height:auto">
            <div id="map" style="height:500px;"></div>
          </div>
        </div>
      </div>

    </div> <!--col1-->

    
    <div class="col-xl-4 col-lg-5">
      <!-- 도넛 차트 -->
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">통계</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4">
            <canvas id="myPieChart1"></canvas>
          </div>
          <hr>
          하루 통계입니다
        </div>
      </div>

      <!-- 날씨 -->
      <div class="card shadow mb-1" style="height:361px;">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">날씨</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" style="padding:5px;">
          <div class="chart-pie pt-4" style="padding-top:0!important;">
            <div style="text-align:center;">
              <table cellpadding=0 cellspacing=0 width=370 style="font-family:Arial;font-size:12px;"><tr><td><table width=100% cellpadding=0 cellspacing=0><tr><td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshl.png"  bgcolor=#1294ca> </td><td width=* align=center background="https://rp5.ru/informer/htmlinfa/topsh.png" bgcolor=#1294ca><a style="color:#ffffff; font-family:Arial;font-size: 12px;" href="https://rp5.ru/12514/ko"><b>서울특별시</b></a></td><td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshr.png" bgcolor=#1294ca> </td></tr></table></td></tr><tr><td valign=top style="padding:0;"><iframe src="https://rp5.ru/htmla.php?id=12514&lang=ko&um=00000&bg=%23669dc7&ft=%23ffffff&fc=%231294ca&c=%23000000&f=Arial&s=12&sc=4" width=100% height=267 frameborder=0 scrolling=no style="margin:0;"></iframe></td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div> <!--col2-->

    
  </div> <!--row-->


{% endif %}

{% if data == 0 %}

  <div class = "imagebox">
    <div class = "dataimage" style="float: left"><!--실내 최근 미세먼지 데이터 값-->
 
        <img src="https://raw.githubusercontent.com/kookmin-sw/2019-cap1-18/master/img/design%20source/Web/%EC%8B%A4%EB%82%B4%2C%EC%8B%A4%EC%99%B8%20icon/%EC%8B%A4%EB%82%B4%20%EC%97%86%EC%9D%8C.png" width="350" height="350">
      <div class="imagetext">
        <p style="width: 170px; color:red" ><font size="3">미세먼지 수치 : 실내 데이터 점검중</font></p>
        <p style="width: 170px; color:red"><font size="3">초미세먼지 수치 : 실내 데이터 점검중</font></p>
      </div>
      </div>


    <div class = "dataimage">
        <img src="https://raw.githubusercontent.com/kookmin-sw/2019-cap1-18/master/img/design%20source/Web/%EC%8B%A4%EB%82%B4%2C%EC%8B%A4%EC%99%B8%20icon/%EC%8B%A4%EC%99%B8%20%EC%97%86%EC%9D%8C.png" width="350" height="350">
     
      <div class="imagetext">
        <p style="width: 170px; color:red"><font size="3">미세먼지 수치 : 실외 데이터 점검중</font></p>
        <p style="width: 170px; color:red"><font size="3">초미세먼지 수치 : 실외 데이터 점검중</font></p>
      </div>
    </div>
  </div>
{% endif %}

</div> <!--contanier-->

<!-- Page level plugins -->
<script src="{{url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>



<script>
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

/* chart */
    var mySize = 24;
    var eDBpm10value = {{epm10value | tojson}};
    var eDBpm25value = {{epm25value | tojson}};

    for( var i =0; i< mySize; i++){
      if(eDBpm10value[i]<= {{grade10[0]}})
        eDBpm10value[i] = 0;
      else if(eDBpm10value[i]<={{grade10[1]}})
        eDBpm10value[i] = 1;
      else if(eDBpm10value[i]<={{grade10[2]}})
        eDBpm10value[i] = 2;
      else
        eDBpm10value[i] = 3;
    }


    eDBpm10value.length = mySize;
    eDBpm25value.length = mySize;

    var sum = [0,0,0,0];

    for (var i = 0; i < mySize; i++) {
        var grade = eDBpm10value[i];
        sum[grade]++;
    }
var ctx = document.getElementById("myPieChart1");
var myPieChart1 = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: ["좋음", "보통", "위험" ,"나쁨"],
    datasets: [{
      data: sum,
      backgroundColor: ['#1c47c8', '#1cc88a', '#ef3713','#eae30b'],
      hoverBackgroundColor: ['#1c47c8', '#17a673', '#ef3713','#eae30b'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});


/* map script*/
function initMap() {
  var initLocation = new google.maps.LatLng('37.607532', '127.004778'); //시작 위치

  var lat = {{ eLat | tojson }};
  var lng = {{ eLng | tojson }};

  //map
    var map = new google.maps.Map(document.getElementById('map'), {
      center: initLocation,
      zoom: 14
    });

    //mark recent (my MiniBuT)
    markMap(map, {{myLat}}, {{myLng}});

    markMap(map,lat,lng);
    console.log(lat);

    //mark externals
    for (var i = 0; i < lat.length; i++) {
      markMap(map, lat[i], lng[i]);
      console.log(lat[i]);
    }
}


function markMap(map, flat, flng) {
    var markLocation = new google.maps.LatLng(flat, flng); //마커

    //마커 이미지 (없어도 됨)
    var image = new google.maps.MarkerImage( 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png', 
      new google.maps.Size(20, 20), '', '',
      new google.maps.Size(20, 20));

    var marker = new google.maps.Marker({
           position: markLocation, // 마커가 위치할 위도와 경도(변수)
           map: map,
           icon: image,
    });

    //pop-up
    var content = flat + "<br/>" + flng; //말풍선 내용
    var infowindow = new google.maps.InfoWindow({ content: content});
 
    google.maps.event.addListener(marker, "click", function() {
        infowindow.open(map,marker);
    });  
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqE1J2mApjvfQD9agllD65yiftAa3KT60&callback=initMap"></script>
<script src="{{url_for('static', filename='js/demo/chart-bar-demo.js')}}"></script>




{% endblock %}