{% extends 'layout.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Admin</h1>
  <p class="mb-4">관리자 페이지입니다.</p>

  <!-- DataTales -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">공공 데이터 API</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>위치</th>
              <th>위도</th>
              <th>경도</th>
              <th>미세먼지</th>
              <th>초미세먼지</th>
              <th>날짜</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>위치</th>
              <th>위도</th>
              <th>경도</th>
              <th>미세먼지</th>
              <th>초미세먼지</th>
              <th>날짜</th>
            </tr>
          </tfoot>
          <tbody>
            {% for i in eData %}
            <tr>
              <td>{{i.location}}</td>
              <td>{{i.elat}}</td>
              <td>{{i.elng}}</td>
              <td>{{i.epm10value}}</td>
              <td>{{i.epm25value}}</td>
              <td>{{i.edate}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Map -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">지도</h6>
    </div>
    <div class="card-body">
      <div class="chart-area" style="height:auto">
        <div id="map" style="height:500px;"></div>
      </div>
    </div>
  </div>

</div><!-- /.container-fluid -->



  <!-- Bootstrap core JavaScript-->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>

  <!-- Page level plugins -->
  <script src="{{url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<script>
$(document).ready(function() {
  $('#dataTable').DataTable();
});


function initMap() {
  var initLocation = new google.maps.LatLng('36.5776', '127.7769'); //시작 위치

  var elat = {{ eLat | tojson }};
  var elng = {{ eLng | tojson }};
  var ilat = {{ iLat | tojson }};
  var ilng = {{ iLng | tojson }};


  /* map */
  var map = new google.maps.Map(document.getElementById('map'), {
    center: initLocation,
    zoom: 7
  });

  /* mark externals */
  for (var i = 0; i < elat.length; i++) {
    markMap(map, elat[i], elng[i]);
    console.log(elat[i]);
  }

  /* mark internals */
  for (var i = 0; i < ilat.length; i++) {
    markMap(map, ilat[i], ilng[i]);
    console.log(ilat[i]);
  }
}

function markMap(map, flat, flng) {
    var markLocation = new google.maps.LatLng(flat, flng); //마커

    /* 마커 이미지 (없어도 됨) */
    var image = new google.maps.MarkerImage( 'http://www.larva.re.kr/home/img/boximage3.png', 
      new google.maps.Size(20, 20), '', '',
      new google.maps.Size(20, 20));

    var marker = new google.maps.Marker({
           position: markLocation, // 마커가 위치할 위도와 경도(변수)
           map: map,
           icon: image,
    });

    /* pop-up */
  var content = flat + "<br/>" + flng; //말풍선 내용
    var infowindow = new google.maps.InfoWindow({ content: content});
 
    google.maps.event.addListener(marker, "click", function() {
        infowindow.open(map,marker);
    });  
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqE1J2mApjvfQD9agllD65yiftAa3KT60&callback=initMap"></script>


{% endblock %}
