{% extends 'layout.html' %}
{% block content %}

<form role="form" action="/admin" method="POST" clsas="user" style="position:absolute;width:300px;left:50%;top:200px;">
    <p style="text-align: center">로그인하세요.</p>
    <div class="form-group">
      <input type="id" class="form-control form-control-user" name="id"placeholder="admin id">
    </div>
    <div class="form-group">
      <input type="password" class="form-control form-control-user" name="password" placeholder="Password">
    </div>
    <input type="submit" class="btn btn-primary btn-user btn-block" value="Log in">
    <!--<a href="index.html" class="btn btn-primary btn-user btn-block">Login</a>-->
    <hr>
</form>

{% endblock %}