{% extends 'layout.html' %}
{% block content %}

<p> WELCOME TO MINIBUT</p>

<div class="container"style="padding:50px 20px; text-align:center">
	<h2>등록하세요.</h2>
	<br>
	<form role="form" action="/join" method="POST">
<!--<form action="/login" method="POST">-->
		<div class="form-group">
  			<input type="username" class="form-control" name="username" placeholder="Username">
  		</div>
  		<div class="form-group">
  			<input type="password" class="form-control" name="password" placeholder="Password"><br>
  		</div>
  		<br>
  		<br>
  		<div class="form-group">
  			<input type="submit" class="btn btn-primary" value="Log in">
  		</div>
</form>
{% endblock %}