<!DOCTYPE HTML>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     {% if title %}
      <title>Mini BuT - {{ title }}</title>
     {% else %}
      <title>Mini BuT</title>
     {% endif %}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
     <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    </head>
 
  <body>

    <header>
      <nav class="navbar navbar-default">
      <!--<ul class="nav nav-pills">-->
        <!--<div class="container-fluid">-->
          <!--<div class="navbar-hearder">
            <a class="navbar-brand" href="/">minibut</a>
          </div>-->
          <div>
      <!--<nav>-->
        <!--<li role="navigation" class="active"><<a href="/">TEST1</a>
        <li role="navigation"><a href="/">TEST2</a>
        <li role="navigation"><a href="/about">About</a>
        <li role="presentation"><a href="/test">Set Data</a>-->
      <!--</nav>-->
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Main</a></li>
             <!-- <li><a href="/">TEST2</a></li>-->
              <li><a href="about">About</a></li>
              <li><a href="/test">Set Data</a></li>
              <li><a href="/login">Log in</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!--<hr>-->
    </header>
 
    <main role="main">
    <!-- Main content block -->
    {% block content %}{% endblock %}
    </main>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>