<!DOCTYPE HTML>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<style>
      body {
        background-color: #FFB4FF;
      }
    </style>-->
     {% if title %}
      <title>Mini BuT - {{ title }}</title>
     {% else %}
      <title>Mini BuT</title>
     {% endif %}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
     <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    </head>
 
  <body>

    <header>
      <nav>
        <a href="/">TEST1</a>
        <a href="/">TEST2</a>
        <a href="/about">About</a>
        <a href="/test">Set Data</a>
      </nav>
      <hr>
    </header>
 
    <main role="main">
    <!-- Main content block -->
    {% block content %}{% endblock %}
    </main>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>