{% extends 'layout.html' %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<!-- 로그인 실패시 메세지 -->
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<br>
			<br>
			<p style="color: red; text-align: center">{{ message }}</p><br>
		{% endfor %}
	{% endif %}
{% endwith %}
<br>
<div class="container"style="padding:50px 20px; text-align:center">
	<h2>로그인 하세요.</h2>
	<br>
	<form role="form" action="/login" method="POST">
<!--<form action="/login" method="POST">-->
		<div class="form-group">
  			<input type="username" class="form-control" name="username" placeholder="Username">
  		</div>
  		<div class="form-group">
  			<input type="password" class="form-control" name="password" placeholder="Password"><br>
  		</div>

  		<div class="form-group">
  			<input type="password" class="form-control" name="idnum" placeholder="고유번호"><br>
  		</div>  		
  		<br>
  		<br>
  		<div class="form-group">
  			<input type="submit" class="btn btn-primary" value="Log in">
  		</div>
</form>
{% endif %}
{% endblock %}