{% extends 'layout.html' %}

{% block content %}
<div>


{% if recentData[0].internalData.pm10 < 100 %}
<img src="http://poooo.ml/data/editor/1809/99704f09b9ae3fa1ed68f3bb56b18494_1536862067_0885.gif">{{recentData[0].internalData.pm10}}!!<br>
{% else %}
<img src="https://media1.tenor.com/images/d278f33e1e8305c98f8f6cc8fb40d5ae/tenor.gif?itemid=10744149">{{recentData[0].internalData.pm10}}<br>
{% endif %}



  <h1>Recent Data</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>이름</th>
        <th width="80px">위도</th>
        <th width="80px">경도</th>
        <th width="80px">pm10</th>
        <th width="80px">pm2.5</th>
        <th>측정 시간</th>
      </tr>
    </thead>
    <tbody>
      {% for i in recentData %}
        <tr>
          <td>{{i.userid}}</td>
          <td>{{i.internalAddress.lat}}</td>
          <td>{{i.internalAddress.lng}}</td>
          <td>{{i.internalData.pm10}}</td>
          <td>{{i.internalData.pm25}}</td>
          <td>{{i.internalData.date}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



  <div>
    <article>
      <h1>Mini BuT</h1>
      <p>Mini BuT Test 1</p>
      <div>
        <p>작성자</p>
        <p>kim su eun</p>
      </div>
    </article>
    <article>
      <h1>두 번째 TEST</h1>
      <p>Mini BuT Test 2</p>
      <div>
        <p>작성자</p>
        <p>kim su eun</p>
      </div>
    </article>
    <article>
      <h1>TEST3</h1>
      <p>Mini BuT Test 3</p>
      <div>
        <p>작성자</p>
        <p>kim su eun</p>
      </div>
    </article>    
    <article>
      <h1>TEST4</h1>
      <p>Mini BuT Test 4</p>
      <div>
        <p>작성자</p>
        <p>kim su eun</p>
      </div>
    </article>  
  </div>
</div>
{% endblock %}