{% extends 'layout.html' %}
 
{% block content %}

<div>
  <div>
    <article>
      <h1>Mini BuT</h1>
      <p>Mini BuT Test 1</p>
      <div>
        <p>작성자</p>
        <p>kim su eun</p>
      </div>
    </article>
    <article>
      <h1>두 번째 TEST</h1>
      <p>Mini BuT Test 2</p>
      <div>
        <p>작성자</p>
        <p>kim su eun</p>
      </div>
    </article>
    <article>
      <h1>TEST3</h1>
      <p>Mini BuT Test 3</p>
      <div>
        <p>작성자</p>
        <p>kim su eun</p>
      </div>
    </article>    
    <article>
      <h1>TEST4</h1>
      <p>Mini BuT Test 4</p>
      <div>
        <p>작성자</p>
        <p>kim su eun</p>
      </div>
    </article>  
  </div>
</div>
{% endblock %}